--master_addresses={{ yb_catalog }}
--rpc_bind_addresses={{ ansible_host }}
--fs_data_dirs=/tmp/data{{ instance_number }}
--placement_cloud={{ yb_placement_cloud }}
--placement_region={{ yb_placement_region }}
--placement_zone={{ yb_placement_zone }}